nav {
    vertical-align:middle;
}
nav ul li {
    display: inline-block;
    border: 2px solid black;
    width: 150px;
    text-align: center;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    margin-top: 0px;
    background-color: #6EC2FF;
        }

nav ul li ul {
    display: none;
    position: absolute;
    padding: 10px; 
    border-radius: 0px 0px 4px 0px;


}
nav ul li:hover ul {
    display:block;
    
}




    


