h1 {color: #015ADF;
    text-align: center;}
h4{font-size: 16px;
    text-align: center;
        }
p {font-size: 14px;
    margin-top: 0px;
    text-align: center;
    }
#letter{font-size: 20px;
        margin-bottom: 0px;}
.tab {text-indent: 40px;}

div {
    position: relative;
    vertical-align:text-bottom;
    width: auto;
    margin: auto;
  }

  a {text-align: center;}
  h3 {text-align: center;}
  blockquote {text-align: center;}

  @media (min-width: 600px) {
      p{
          font-size: 16px;
      }
      div{
          max-width: 500px;
      }
      blockquote {
          font-size: 16px;
      }
      nav{
        margin: 0 auto;
        text-align: center;
        font-size: 15px;
    }
    
      
  }