
    

    h1 {color: #C2D9EA;
    text-align: center;
    font-family: Oswald, sans-serif;
}
body {background-color:#365166;}



h4{font-size: 16px;
    text-align: center;
        }

p,table, #resume {font-size: 14px;
    margin-top: 0px;
    list-style-type: none;

    }


.tab {text-indent: 40px;}

ul{
    padding-left: 0px;
}

div {
    position: relative;
    border: 3.5px dashed #E6CC63;
    vertical-align:text-bottom;
    width: auto;
    margin: auto;
    padding: 0px;
    text-align: center;
    background-color: #6EC2FF;
  }

.headshot{
    max-width: 200px;

}

form{
    text-align: center;
    font-size: 15px;
    
}

  footer {
      margin: 100px;
      text-align: center;
  }

  a {text-align: center;}
  h3 {text-align: center;}
  blockquote {text-align: center;}

  @media (min-width: 600px) {
      p{
          font-size: 16px;
      }
      div{
          max-width: 500px;
      }
      blockquote {
          font-size: 16px;
      }
      nav{
        margin: 0 auto;
        text-align: center;
        font-size: 18px; 
      }
      table{
          width: 500px;
      }
  }

  @media (max-width: 600px) {
    div{
        max-width: 400px;
    }
    nav{
        margin: 0 auto;
        text-align: center;
        font-size: 12px;
      }
      .m50{
        max-width: 200px;
    }
    form{
        font-size: 11px;
        max-width: 350px;
        
    }
    
  }

  @media (max-width : 480px) {
    nav {
      text-align: center;
      font-size: 10px;
    }
    div {
        max-width: 350px;
    }
    footer{
        min-width: 400px;
    }
    .m50{
        max-width: 200px;
    }
  }

@media print {
    nav,
    img {display: none}
    
    div{
        border: none;
        font-family: Georgia, serif;
        max-width: none;
        margin-left: 1in;
        margin-right: 1in;

    }

    h1{
        color: black;
        margin-top: 1in;
        
    }

    a{
        color: black;
        
        font-family: Georgia, serif;
    }

    p{
        font-family: Georgia, serif;
        font-size: larger;
        text-align: left;
    }

    h3{
        text-align: left;
        
        font-family: Georgia, serif;
    }

    blockquote{
        text-align: left;
        margin-left: 1in;
        margin-right: 1in;
        font-family: Georgia, serif;
    }

    footer{
        text-align: left;
        margin-bottom: 1in;
        font-family: Georgia, serif;
        max-width: none;
    }


}

.smol{
    max-width: 20px;
    max-height: 20px;
}

.big{
    position: absolute;
    width: 0px;
    -webkit-transition: width 0.3s linear 0s;
    transition: width 0.3s linear 0s; 
    z-index: 10;
}

.smol:hover + .big{
    width: 50px;
}



h5{
    font-size: 14px;
}

.m50{
    position: relative;
    max-width: 480px;
    align-items: center;
}

.pond{
    max-height: 400px;
}

.matrix{
    max-width: 480px;
}



@media (min-width: 600px) {
    p{
        font-size: 16px;
    }
    div{
        max-width: 500px;
    }
    blockquote {
        font-size: 16px;
    }
    nav{
      margin: 0 auto;
      text-align: center;
      font-size: 18px; 
    }
}

